.bg-dark {
  color: #110d27; }

.bg-nigth {
  color: #191970; }

.bg-violet {
  color: #330a33; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

@media screen and (min-width: 360px) {
  .navbar {
    flex-direction: row;
    align-content: center;
    flex-wrap: inherit;
    justify-content: space-around;
    padding: 0 4px;
    background-color: #04082bea; }
  .imgNavbarLogo {
    width: 100px;
    height: 70px; }
  .mainNav {
    background-color: #04082bea;
    width: 100%;
    color: white;
    left: 70px;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: inherit; }
  .mainDivContainer {
    width: 100%;
    padding: 0; }
    .mainDivContainer .navbar-toggler {
      background-color: #9467ad; }
      .mainDivContainer .navbar-toggler li {
        padding: 5px;
        border-left: dotted violet 1px;
        margin: 4px; } }

@media screen and (min-width: 800px) {
  .mainNav {
    background-color: #04082bea;
    width: 100%;
    color: white;
    left: 70px;
    justify-content: start;
    align-items: center; }
  .mainDivContainer li {
    padding: 5px;
    border-left: dotted violet 1px;
    margin: 4px; } }

.headerIndex {
  width: 100%; }

.header {
  display: inline-block;
  height: 100px;
  text-align: center;
  padding-top: 2rem;
  width: 23rem;
  background-image: url(../images/headerbackground.png); }
  .header h1 {
    font-weight: 500;
    color: #ffffff;
    font-family: 'Nunito', sans-serif; }
  .header h2 {
    font-size: 16px;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    color: #ffffff; }

.mainIndex {
  background-image: none;
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainIndex .carrusel {
    display: none; }
    .mainIndex .carrusel .divCarrusel {
      padding: 10px 0; }
      .mainIndex .carrusel .divCarrusel .imgDivCarrusel {
        border: solid black 2px; }
  .mainIndex .section_conteiner1 {
    text-align: center;
    background-color: #0a0e31ea;
    color: #ffffff;
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 16px; }
  .mainIndex .section_conteiner2 {
    background-color: #0a0e31ea;
    height: 1200px;
    width: 100%; }
    .mainIndex .section_conteiner2 h3 {
      background-color: #000213ea;
      color: #ffffff;
      height: 3rem;
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      padding-top: 1rem; }
    .mainIndex .section_conteiner2 img {
      position: relative;
      left: 130px;
      top: 20px;
      border: dotted 2px;
      border-radius: 5px;
      border-color: violet; }
    .mainIndex .section_conteiner2 .main_divImg {
      width: 96px; }
    .mainIndex .section_conteiner2 p {
      text-align: center;
      position: relative;
      top: 30px;
      color: #ffffff;
      font-family: 'Nunito', sans-serif; }

.headerNosotros {
  width: 100%;
  border: solid black 1px; }

.mainNosotros {
  background-color: #110d27;
  width: 100%;
  height: 110rem;
  position: relative;
  padding-top: 5rem; }
  .mainNosotros .main_div1Nosotros {
    color: #ffffff;
    text-align: center;
    height: 20rem;
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 300; }
    .mainNosotros .main_div1Nosotros .img_experienciaNosotros {
      border: groove;
      border-radius: 10rem;
      position: relative;
      width: 6rem;
      left: 6.8rem;
      top: 15rem; }
    .mainNosotros .main_div1Nosotros .img_clientes {
      border: groove;
      border-radius: 10rem;
      position: relative;
      width: 6rem;
      left: 0.5rem;
      top: 22rem; }
    .mainNosotros .main_div1Nosotros .img_profesionales {
      border: groove;
      border-radius: 10rem;
      position: relative;
      width: 6rem;
      top: 29rem;
      right: 5.8rem; }
    .mainNosotros .main_div1Nosotros .p_Nosotros {
      position: relative;
      font-size: 16px;
      bottom: 6rem;
      text-align: center;
      margin: 1rem; }
  .mainNosotros .main_divContenedor {
    position: relative;
    top: 20rem; }
    .mainNosotros .main_divContenedor .main_div2Nosotros {
      text-align: center;
      color: #ffffff;
      border: hidden;
      background-color: #330a33;
      height: 10rem;
      position: relative;
      font-family: 'Nunito', sans-serif;
      font-size: 14px;
      margin-bottom: 12rem;
      padding-bottom: 3rem; }
      .mainNosotros .main_divContenedor .main_div2Nosotros .main_div2h2Nosotros {
        text-align: center;
        padding-top: 2.5rem; }
  .mainNosotros .main_div3Nosotros h3 {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 2rem 2rem;
    background-color: midnightblue; }
  .mainNosotros .main_div3Nosotros .p_div3Nosotros, .mainNosotros .main_div3Nosotros .main_div4Nosotros .p_div4Nosotros, .mainNosotros .main_div4Nosotros .main_div3Nosotros .p_div4Nosotros {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    position: relative;
    top: 2rem;
    bottom: 5rem;
    height: 7rem;
    padding: 0rem 1rem; }
  .mainNosotros .main_div4Nosotros h3 {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 2rem 2rem;
    position: relative;
    top: 6rem;
    background-color: midnightblue; }

.headerContactanos {
  width: 100%; }

.mainContactanos {
  background-color: #090944; }
  .mainContactanos .main_h2Contactanos {
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-color: #090944;
    color: #ffffff;
    height: 5rem;
    position: relative;
    top: 1rem; }
  .mainContactanos .main_h31Contactanos {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    text-align: center; }
  .mainContactanos .main_h32Contactanos {
    background-color: #330a33;
    color: #ffffff;
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-size: 22px; }
  .mainContactanos .main_form {
    background-color: #cbc3ff;
    height: 48rem; }
    .mainContactanos .main_form .fieldset {
      width: 350px;
      border-color: #ffffff;
      color: #090e3d;
      border: groove;
      position: relative;
      background-color: #ffffff;
      padding: 1rem; }
      .mainContactanos .main_form .fieldset .main_divFieldset {
        color: #000000;
        font-size: 14px; }
        .mainContactanos .main_form .fieldset .main_divFieldset .main_inputContactanos {
          border-color: #000000;
          border: groove;
          padding: 1rem 0rem;
          width: 300px; }
        .mainContactanos .main_form .fieldset .main_divFieldset .input_enviarContactanos {
          text-align: center;
          background-color: #2f4f4f;
          color: #ffffff;
          font-size: 16px;
          width: 100%;
          height: 100%; }
  .mainContactanos .main_divh2Contactanos {
    background-color: #330a33;
    color: #ffffff;
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-size: 22px; }
  .mainContactanos .main_divContactanos {
    background-color: #cbc3ff;
    color: #000000;
    position: relative; }
    .mainContactanos .main_divContactanos p {
      padding-right: 8rem;
      padding-top: 2rem;
      padding-left: 1rem; }
    .mainContactanos .main_divContactanos img {
      position: relative;
      bottom: 5rem;
      left: 18rem; }

.headerServicios {
  width: 100%; }

.mainServicios {
  background-color: #110d27;
  position: relative;
  height: 160rem;
  overflow: hidden; }
  .mainServicios .main_div1h1Servicios {
    color: #ffffff;
    padding: 2rem;
    position: relative;
    left: 1.5rem; }
  .mainServicios .main_pdiv1Contactanos {
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    background-color: #330a33;
    margin-bottom: 4rem; }
  .mainServicios .main_div2Servicios {
    background-color: #110d27; }
    .mainServicios .main_div2Servicios .main_imgdiv2Servicios {
      width: 6rem;
      border: none;
      position: relative;
      left: 8rem; }
    .mainServicios .main_div2Servicios .h4_div2 {
      color: #ffffff;
      margin-bottom: 1rem;
      margin-top: 1rem;
      text-align: center;
      background-color: #191970; }
    .mainServicios .main_div2Servicios .p_h4div2 {
      color: #ffffff;
      text-align: center;
      background-color: #110d27;
      padding: 1rem 1rem 5rem 1rem; }

.headerNovedades {
  width: 100%;
  border: solid black 1px; }

.main_div1Novedades {
  background-color: #08092e; }
  .main_div1Novedades h3 {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 2rem; }
  .main_div1Novedades .main_pdiv1Novedades {
    color: #ffffff;
    text-align: center;
    padding: 2rem; }
  .main_div1Novedades .link_Novedades {
    padding-bottom: 2rem; }
    .main_div1Novedades .link_Novedades li {
      position: relative;
      text-align: center;
      padding: 1.5rem;
      text-decoration: none;
      list-style-type: none;
      right: 1rem; }
      .main_div1Novedades .link_Novedades li a {
        text-decoration: none; }

.headerReferencias {
  width: 100%; }

.divconteinerReferencias {
  background-color: #110d27; }
  .divconteinerReferencias .main_h3div1Referencias {
    background-color: #08092e;
    color: white;
    padding: 2rem;
    text-align: center;
    font-family: 'Nunito', sans-serif; }
  .divconteinerReferencias .img_conteinerReferencias {
    padding: 2rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .divconteinerReferencias .img_conteinerReferencias .main_imgdiv1Referencias {
      padding: 2rem 0rem;
      width: 100px; }

.footer {
  background-color: #0a0a0a;
  height: 5rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px; }
  .footer .footer-nav {
    display: none; }
  .footer .socialMedia {
    text-align: center !important; }
    .footer .socialMedia img {
      width: 30px; }
    .footer .socialMedia p {
      margin: 0rem;
      padding: 0rem; }
  .footer .copyrigth {
    text-align: center; }
    .footer .copyrigth p {
      margin: 0rem; }

@media screen and (min-width: 800px) {
  .footer {
    background-color: #0a0a0a;
    height: 7rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px; }
    .footer .footer-nav {
      display: none; }
    .footer .socialMedia {
      text-align: center;
      font-size: 16px;
      padding-right: 1rem; }
    .footer .copyrigth {
      text-align: center;
      font-size: 16px;
      padding-left: 1rem; }
      .footer .copyrigth .Franco {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px; } }

@media screen and (min-width: 1920px) {
  .footer {
    background-color: #0a0a0a;
    height: 7rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px; }
    .footer .footer-nav {
      display: flex; }
      .footer .footer-nav li {
        display: inline-block; }
        .footer .footer-nav li .footer-navLink {
          text-decoration: none;
          color: #ffffff;
          border-left: solid #ffffff 2px;
          padding-right: 1rem;
          font-size: 12px;
          padding-left: 0.5rem; }
    .footer .socialMedia {
      text-align: center;
      font-size: 16px;
      padding-left: 17rem; }
      .footer .socialMedia img {
        width: 30px; }
    .footer .copyrigth {
      text-align: center;
      font-size: 16px;
      padding-left: 2rem; }
      .footer .copyrigth .Franco {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px; } }

@media screen and (min-width: 800px) {
  .header {
    height: 200px;
    display: inline-block;
    text-align: center;
    width: 810px; }
    .header h1 {
      font-weight: 500;
      color: #ffffff;
      font-family: 'Nunito', sans-serif;
      padding-left: 2rem;
      padding-top: 2rem;
      text-align: center; }
    .header h2 {
      font-weight: 150;
      font-size: 20px;
      font-family: 'Nunito', sans-serif;
      color: #ffffff;
      padding-left: 3rem;
      padding-top: 1rem;
      text-align: center; }
  .headerIndex {
    width: 100%; }
  .mainIndex {
    background-image: none;
    height: 1200px; }
    .mainIndex .section_conteiner1 {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: #0a0e31ea;
      color: #ffffff;
      font-family: 'Nunito', sans-serif;
      font-size: 18px; }
    .mainIndex .section_conteiner2 {
      background-color: #0a0e31ea;
      height: 1100px;
      width: 100%; }
      .mainIndex .section_conteiner2 h3 {
        background-color: #000213ea;
        color: #ffffff;
        height: 3rem;
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        padding-top: 1rem; }
      .mainIndex .section_conteiner2 img {
        position: relative;
        left: 350px;
        top: 20px;
        border: dotted 2px;
        border-radius: 5px;
        border-color: violet; }
      .mainIndex .section_conteiner2 p {
        text-align: center;
        position: relative;
        top: 40px;
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 18px; }
  .headerNosotros {
    width: 100%; }
  .mainNosotros {
    background-color: #110d27;
    width: 100%;
    height: 101rem;
    position: relative;
    padding-top: 5rem; }
    .mainNosotros .main_div1Nosotros {
      color: #ffffff;
      width: 100%;
      height: 20rem;
      position: relative;
      font-size: 18px;
      font-weight: 300; }
      .mainNosotros .main_div1Nosotros .img_experienciaNosotros {
        border: groove;
        border-radius: 10rem;
        position: relative;
        width: 8rem;
        left: 8rem; }
      .mainNosotros .main_div1Nosotros .img_clientes {
        border: groove;
        border-radius: 10rem;
        position: relative;
        width: 8rem;
        left: 14rem;
        top: 15rem; }
      .mainNosotros .main_div1Nosotros .img_profesionales {
        border: groove;
        border-radius: 10rem;
        position: relative;
        width: 8rem;
        right: 23rem;
        top: 15rem; }
      .mainNosotros .main_div1Nosotros .p_Nosotros {
        position: relative;
        font-size: 20px;
        bottom: 10rem;
        margin: 2rem; }
    .mainNosotros .main_divContenedor {
      position: relative;
      top: 15rem; }
      .mainNosotros .main_divContenedor .main_div2Nosotros {
        text-align: center;
        color: #ffffff;
        border: hidden;
        background-color: #330a33;
        height: 10rem;
        position: relative;
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        margin-bottom: 10rem; }
        .mainNosotros .main_divContenedor .main_div2Nosotros .main_div2h2Nosotros {
          text-align: center;
          padding-top: 4rem; }
      .mainNosotros .main_divContenedor .main_div3Nosotros h3 {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        background-color: midnightblue; }
      .mainNosotros .main_divContenedor .main_div3Nosotros .p_div3Nosotros, .mainNosotros .main_divContenedor .main_div3Nosotros .main_div4Nosotros .p_div4Nosotros, .mainNosotros .main_div4Nosotros .main_divContenedor .main_div3Nosotros .p_div4Nosotros {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        position: relative;
        top: 4rem;
        bottom: 5rem;
        height: 7rem;
        width: 44rem;
        left: 2rem; }
      .mainNosotros .main_divContenedor .main_div4Nosotros h3 {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        position: relative;
        top: 6rem;
        background-color: midnightblue; }
      .mainNosotros .main_divContenedor .main_div4Nosotros .p_div4Nosotros {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        position: relative;
        top: 10rem;
        bottom: 5rem;
        height: 5rem;
        width: 44rem;
        left: 2rem; }
  .headerContactanos {
    width: 100%; }
  .main_h2Contactanos {
    font-size: 22px;
    height: 4rem; }
  .main_h31Contactanos {
    font-size: 18px;
    font-weight: 300;
    text-align: center; }
  .main_h32Contactanos {
    padding: 2rem;
    text-align: left;
    font-size: 22px; }
  .main_form {
    background-color: #cbc3ff;
    height: 48rem; }
  .fieldset {
    left: 15rem;
    top: 1rem;
    width: 200px; }
  .main_inputContactanos {
    border-color: #000000;
    border: groove;
    padding: 1rem 0rem;
    width: 300px; }
  .main_divh2Contactanos {
    padding: 2rem;
    text-align: left;
    font-size: 22px; }
  .main_divContactanos p {
    padding-right: 8rem;
    padding-top: 2rem;
    padding-left: 1rem; }
  .main_divContactanos img {
    position: relative;
    bottom: 3rem;
    left: 30rem; }
  .headerServicios {
    width: 100%;
    text-align: center; }
  .mainServicios {
    height: 150rem; }
  .main_div1h1Servicios {
    padding: 5rem;
    text-align: center; }
  .main_imgdiv2Servicios {
    left: 30rem;
    width: 10rem; }
  .headerNovedades {
    width: 100%; }
  .main_div1Novedades {
    height: 75rem; }
    .main_div1Novedades .main_pdiv1Novedades {
      position: relative;
      top: 4rem; }
    .main_div1Novedades h3 {
      position: relative;
      top: 3rem; }
    .main_div1Novedades li {
      padding: 0.5rem;
      top: 8rem;
      bottom: 1rem;
      justify-items: center;
      margin: 0.5rem; }
  .headerReferencias {
    width: 100%; }
  .img_conteinerReferencias {
    left: 8rem;
    flex-direction: row;
    justify-content: center; } }

@media screen and (min-width: 1080px) {
  .headerIndex {
    width: 100%; } }

@media screen and (min-width: 1920px) {
  .header {
    height: 270px;
    background-image: url(../images/headerbackground.png);
    display: block;
    width: 100%; }
    .header h1 {
      font-weight: 700;
      color: #ceccc5;
      font-family: 'Nunito', sans-serif;
      padding-left: 2rem;
      padding-top: 2rem;
      text-align: left;
      font-size: 28px; }
    .header h2 {
      font-weight: 200;
      font-size: 20px;
      font-family: 'Nunito', sans-serif;
      color: #fff4f4;
      padding-left: 3rem;
      padding-top: 1rem;
      text-align: left; }
  .headerIndex {
    height: 300px;
    border: solid black 1px; }
  .mainIndex {
    height: 2100px;
    display: flex;
    justify-content: center;
    background-image: url(../images/mainbackground.png);
    overflow: hidden; }
    .mainIndex .carrusel {
      display: inline; }
      .mainIndex .carrusel .divCarrusel {
        padding: 10px 0; }
        .mainIndex .carrusel .divCarrusel .imgDivCarrusel {
          border: solid black 2px; }
    .mainIndex .section_conteiner1 {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 4rem;
      color: #ffffff;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      justify-content: stretch; }
      .mainIndex .section_conteiner1 .main-div1 {
        position: relative;
        font-size: 22px;
        height: 300px;
        top: 3rem; }
    .mainIndex .section_conteiner2 {
      height: 1700px;
      background-image: url(../images/mainbackground.png); }
      .mainIndex .section_conteiner2 h3 {
        background-color: #000213ea;
        color: #ffffff;
        height: 5rem !important;
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        padding-top: 2rem !important; }
      .mainIndex .section_conteiner2 .main_divImg {
        position: relative;
        left: 870px;
        top: 60px;
        border: dotted 2px;
        border-radius: 5px;
        border-color: violet;
        width: 10rem;
        height: 10rem; }
      .mainIndex .section_conteiner2 p {
        text-align: center;
        position: relative;
        top: 80px;
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 24px; }
  .headerNosotros {
    height: 300px;
    border: solid black 1px; }
  .mainNosotros {
    background-color: #110d27;
    width: 100%;
    height: 120rem;
    position: relative;
    padding-top: 5rem; }
    .mainNosotros .main_div1Nosotros {
      color: #ffffff;
      width: 40rem;
      text-align: center;
      height: 20rem;
      position: relative;
      top: 10rem;
      left: 22rem;
      bottom: 10rem;
      font-size: 18px;
      font-weight: 300; }
      .mainNosotros .main_div1Nosotros .img_experienciaNosotros {
        border: groove;
        border-radius: 10rem;
        position: relative;
        width: 12rem;
        top: 9rem;
        left: 1rem; }
      .mainNosotros .main_div1Nosotros .img_clientes {
        border: groove;
        border-radius: 10rem;
        position: relative;
        left: 45rem;
        top: 9rem;
        width: 12rem; }
      .mainNosotros .main_div1Nosotros .img_profesionales {
        border: groove;
        border-radius: 10rem;
        position: relative;
        width: 12rem;
        top: 1rem;
        margin-bottom: 9rem;
        left: 4rem; }
      .mainNosotros .main_div1Nosotros .p_Nosotros {
        position: relative;
        bottom: 5rem;
        font-size: 25px;
        left: 17rem; }
    .mainNosotros .main_divContenedor {
      position: relative;
      top: 30rem; }
      .mainNosotros .main_divContenedor .main_div2Nosotros {
        text-align: center;
        color: #ffffff;
        border: hidden;
        background-color: #330a33;
        width: 50rem;
        height: 10rem;
        position: relative;
        left: 33rem;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        margin-bottom: 10rem; }
        .mainNosotros .main_divContenedor .main_div2Nosotros .main_div2h2Nosotros {
          text-align: center;
          padding-top: 3rem; }
      .mainNosotros .main_divContenedor .main_div3Nosotros h3 {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 28px;
        padding-left: 2rem;
        background-color: midnightblue;
        margin-right: 40rem; }
      .mainNosotros .main_divContenedor .main_div3Nosotros .p_div3Nosotros, .mainNosotros .main_divContenedor .main_div3Nosotros .main_div4Nosotros .p_div4Nosotros, .mainNosotros .main_div4Nosotros .main_divContenedor .main_div3Nosotros .p_div4Nosotros {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        position: relative;
        left: 25rem;
        top: 4rem;
        right: 2rem;
        bottom: 5rem;
        height: 7rem;
        width: 70rem; }
      .mainNosotros .main_divContenedor .main_div4Nosotros h3 {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 28px;
        padding-left: 2rem;
        position: relative;
        top: 6rem;
        background-color: midnightblue;
        margin-right: 40rem; }
      .mainNosotros .main_divContenedor .main_div4Nosotros .p_div4Nosotros {
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        position: relative;
        left: 25rem;
        top: 10rem;
        right: 2rem;
        bottom: 5rem;
        height: 5rem;
        width: 70rem;
        padding-bottom: 2rem; }
  .headerServicios {
    height: 300px;
    border: solid black 1px; }
  .main_div1Servicios {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    position: relative;
    top: 5rem;
    color: #ffffff; }
  .mainServicios {
    background-color: #110d27;
    height: 230rem; }
  .main_div1h1Servicios {
    background-color: #060e22;
    width: 30rem;
    text-align: center;
    position: relative;
    padding-top: 1rem;
    border-radius: 5rem;
    border: dotted;
    margin-left: 43rem; }
  .main_pdiv1Contactanos {
    background-color: #180a3a;
    width: 70rem;
    position: relative;
    left: 25rem;
    top: 12rem;
    right: 3rem;
    padding: 4rem;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    border-radius: 5px; }
  .main_div2Servicios {
    position: relative;
    top: 30rem;
    padding: 2rem; }
  .main_imgdiv2Servicios {
    width: 9rem;
    height: 8rem;
    position: relative;
    border: groove;
    border-radius: 1rem;
    margin: 4rem;
    left: 5rem; }
  .h4_div2 {
    position: relative;
    bottom: 9rem;
    margin-left: 20rem;
    color: #ffffff;
    font-size: 1.5rem;
    width: 30rem;
    font-family: 'Nunito', sans-serif; }
  .p_h4div2 {
    background-color: #08092e;
    color: #ffffff;
    width: 70rem;
    height: 3rem;
    padding: 2rem;
    font-size: 20px;
    position: relative;
    bottom: 4rem;
    left: 20rem; }
  .headerReferencias {
    height: 300px;
    border: solid black 1px; }
  .main_h3div1Referencias {
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 500;
    height: 6rem;
    padding-top: 7rem;
    background-color: #110d27;
    color: #ffffff; }
  .divconteinerReferencias .img_conteinerReferencias {
    background-color: #171950;
    padding: 4rem 30rem;
    border: none;
    display: flex;
    flex-direction: row; }
  .main_imgdiv1Referencias {
    border: none;
    border-radius: 1rem;
    margin-left: 5rem; }
  .headerNovedades {
    height: 300px;
    border: solid black 1px; }
  .main_div1Novedades {
    height: 60rem; }
    .main_div1Novedades h3 {
      font-size: 28px;
      font-family: 'Nunito', sans-serif;
      text-align: center;
      font-weight: 700;
      height: 6rem;
      padding-top: 7rem;
      color: rgba(255, 255, 255, 0.849);
      border-bottom: dotted 2px;
      margin-right: 20rem;
      margin-left: 22rem; }
    .main_div1Novedades .main_pdiv1Novedades {
      font-size: 20px; }
    .main_div1Novedades li {
      padding: 4rem;
      position: relative;
      left: 16rem;
      margin: 2rem;
      display: inline-block; }
      .main_div1Novedades li a {
        font-size: 20px; }
  .headerContactanos {
    height: 300px;
    border: solid black 1px; }
  .mainContactanos {
    background-color: #110d27;
    color: #ffffff;
    width: 100%;
    height: 90rem;
    position: relative;
    padding-top: 5rem; }
    .mainContactanos .main_h2Contactanos {
      background-color: #110d27;
      font-size: 28px;
      font-family: 'Nunito', sans-serif;
      text-align: center;
      position: relative; }
    .mainContactanos .main_h31Contactanos {
      font-size: 28px;
      font-family: 'Nunito', sans-serif;
      text-align: center;
      font-weight: 200;
      margin-bottom: 5rem; }
    .mainContactanos .main_h32Contactanos {
      position: relative;
      padding-bottom: 3rem;
      padding-top: 5rem;
      font-size: 28px;
      font-family: 'Nunito', sans-serif;
      padding-left: 3rem; }
    .mainContactanos .main_form {
      background-color: #cbc3ff;
      padding: 10px;
      height: 48rem; }
      .mainContactanos .main_form .fieldset {
        width: 450px;
        border-color: #ffffff;
        color: #090e3d;
        border: groove;
        position: relative;
        left: 45rem;
        bottom: 2rem;
        background-color: #ffffff;
        padding: 1rem; }
        .mainContactanos .main_form .fieldset .main_divFieldset {
          color: #000000;
          font-size: 14px; }
        .mainContactanos .main_form .fieldset .main_inputContactanos {
          border-color: #000000;
          border: groove;
          width: 300px; }
        .mainContactanos .main_form .fieldset .input_enviarContactanos {
          text-align: center;
          background-color: #2f4f4f;
          color: #ffffff;
          font-size: 16px;
          width: 100%;
          height: 100%;
          padding: 5px;
          margin-top: 5px; }
    .mainContactanos .main_divh2Contactanos {
      position: relative;
      padding-bottom: 3rem;
      padding-top: 5rem;
      font-size: 28px;
      font-family: 'Nunito', sans-serif;
      padding-left: 3rem; }
    .mainContactanos .main_divContactanos {
      width: 100%;
      height: 10rem;
      border-color: #ffffff;
      color: #000000;
      position: relative;
      background-color: #ffffff; }
      .mainContactanos .main_divContactanos img {
        position: relative;
        left: 55rem;
        bottom: 2.5rem;
        width: 3rem;
        height: 3rem; }
      .mainContactanos .main_divContactanos p {
        padding-top: 4rem;
        padding-left: 4rem;
        font-size: 20 px; } }
