.footer {
    background-color: rgb(10, 10, 10);
    height: 5rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    .footer-nav {
        display: none;
    }
    .socialMedia {
        text-align: center !important;
        img {
            width: 30px;
        }
        p {
            margin: 0rem;
            padding: 0rem;
        }
    }
    .copyrigth {
        text-align: center;
        p {
            margin: 0rem;
        }
    }
}

//Media Queries Footer//

@media screen and (min-width: 800px) {
    .footer {
        background-color: rgb(10, 10, 10);
        height: 7rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        .footer-nav {
            display: none;
        }
        .socialMedia {
            text-align: center;
            font-size: 16px;
            padding-right: 1rem;
        }
        .copyrigth {
            text-align: center;
            font-size: 16px;
            padding-left: 1rem;
            .Franco {
                text-decoration: none;
                color: #ffffff;
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 1920px)  {
    .footer {
        background-color: rgb(10, 10, 10);
        height: 7rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        .footer-nav {
            display: flex;
            li {
                display: inline-block;
                .footer-navLink {
                    text-decoration: none;
                    color: #ffffff;
                    border-left: solid #ffffff 2px;
                    padding-right: 1rem;
                    font-size: 12px;
                    padding-left: 0.5rem;
                }
            }
        }
        .socialMedia {
            text-align: center;
            font-size: 16px;
            padding-left: 17rem;
            img {
                width: 30px;
            }
        }
        .copyrigth {
            text-align: center;
            font-size: 16px;
            padding-left: 2rem;
            .Franco {
                text-decoration: none;
                color: #ffffff;
                font-size: 16px;
            }
        }
    }
}