@media screen and (min-width: 800px) {
    .header {
        height: 200px;
        display: inline-block;
        text-align: center;
        width: 810px;
        h1 {
            font-weight: 500;
            color: #ffffff;
            font-family: 'Nunito', sans-serif;
            padding-left: 2rem;
            padding-top: 2rem;
            text-align: center;
        }
        h2 {
            font-weight: 150;
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
            color: #ffffff;
            padding-left: 3rem;
            padding-top: 1rem;
            text-align: center;
        }
    }
    .headerIndex { 
        width: 100%;
    }
    .mainIndex {
        background-image: none;
        height: 1200px;
        .section_conteiner1 {
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
            background-color: #0a0e31ea;
            color: #ffffff;
            font-family: 'Nunito', sans-serif;
            font-size: 18px;
        }
        .section_conteiner2 {
            background-color: #0a0e31ea;
            height: 1100px;
            width: 100%;
            h3 {
                background-color: #000213ea;
                color: #ffffff;
                height: 3rem;
                font-family: 'Nunito', sans-serif;
                font-size: 24px;
                font-weight: 500;
                text-align: center;
                padding-top: 1rem;
            }
            img {
                position: relative;
                left: 350px;
                top: 20px;
                border: dotted 2px;
                border-radius: 5px;
                border-color: violet;
            }p {
                text-align: center;
                position: relative;
                top: 40px;
                color: #ffffff;
                font-family: 'Nunito', sans-serif;
                font-size: 18px;
            }
        }   
    }
    .headerNosotros {
        width: 100%;
    }
    .mainNosotros {
        background-color: #110d27;
        width: 100%;
        height: 101rem;
        position: relative;
        padding-top: 5rem;
        .main_div1Nosotros {
            color: #ffffff;
            width: 100%;
            height: 20rem;
            position: relative;
            font-size: 18px;
            font-weight: 300;
            .img_experienciaNosotros {
                border:groove;
                border-radius: 10rem;
                position: relative;
                width: 8rem;
                left: 8rem;
            }
            .img_clientes {
                border:groove;
                border-radius: 10rem;
                position: relative;
                width: 8rem;
                left: 14rem;
                top: 15rem;
            }
            .img_profesionales {
                border:groove;
                border-radius: 10rem;
                position: relative;
                width: 8rem;
                right: 23rem;
                top: 15rem;
            }
            .p_Nosotros {
                position: relative;
                font-size: 20px;
                bottom: 10rem;
                margin: 2rem;
            }
        }
        .main_divContenedor {
            position: relative;
            top: 15rem;
            .main_div2Nosotros {
                text-align: center;
                color: #ffffff;
                border: hidden;
                background-color: rgb(51, 10, 51);
                height: 10rem;
                position: relative;
                font-family: 'Nunito', sans-serif;
                font-size: 14px;
                margin-bottom: 10rem;
                .main_div2h2Nosotros {
                    text-align: center;
                    padding-top: 4rem;
                }
            }
            .main_div3Nosotros{
                h3 {
                    color: #ffffff;
                    font-family: 'Nunito', sans-serif;
                    font-size: 22px;
                    background-color: midnightblue;
                }
                .p_div3Nosotros {
                    color: #ffffff;
                    font-family: 'Nunito', sans-serif;
                    font-size: 18px;
                    position: relative;
                    top: 4rem;
                    bottom: 5rem;
                    height: 7rem;
                    width: 44rem;
                    left: 2rem;
                }
            }
            .main_div4Nosotros {
                h3 {
                    color: #ffffff;
                    font-family: 'Nunito', sans-serif;
                    font-size: 22px;
                    position: relative;
                    top: 6rem;
                    background-color: midnightblue;
                }
                .p_div4Nosotros {
                    color: #ffffff;
                    font-family: 'Nunito', sans-serif;
                    font-size: 18px;
                    position: relative;
                    top: 10rem;
                    bottom: 5rem;
                    height: 5rem;
                    width: 44rem;
                    left: 2rem;
                }
            }
        }
    }
    .headerContactanos {
        width: 100%;
    }
    .main_h2Contactanos {
        font-size: 22px;
        height: 4rem;
    }
    .main_h31Contactanos {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    .main_h32Contactanos {
        padding: 2rem;
        text-align: left;
        font-size: 22px;
    }
    .main_form {
        background-color: #cbc3ff;
        height: 35rem;
        .fieldset {
            left: 15rem;
            top: 1rem;
            .main_inputContactanos {
                border-color: #000000;
                border: groove;
                padding: 1rem 0rem;
            }
        }
    }
    .main_divh2Contactanos {
        padding: 2rem;
        text-align: left;
        font-size: 22px;
    }
    .main_divContactanos {
        p {
            padding-right: 8rem;
            padding-top: 2rem;
            padding-left: 1rem;
        }
        img {
            position: relative;
            left: 45rem;
            bottom: 3rem;
        }
    }
    .headerServicios {
        width: 100%;
        text-align: center;
    }
    .mainServicios {
        height: 150rem;
    }
    .main_div1h1Servicios {
        padding: 5rem;
        text-align: center;
    }
    .main_imgdiv2Servicios {
        left: 20rem;
    }
    .headerNovedades {
        width: 100%;
    }
    .main_div1Novedades {
        height: 75rem;
        .main_pdiv1Novedades {
            position: relative;
            top: 4rem;
        }
        h3 {
            position: relative;
            top: 3rem;
        }
        li {
            padding: 0.5rem;
            top: 8rem;
            bottom: 1rem;
            justify-items: center;
            margin: 0.5rem;
        }
    }
    .headerReferencias {
        width: 100%;
    }
    .img_conteinerReferencias {
        left: 8rem;
    }
}

@media screen and (min-width: 1080px) { 
    .headerIndex {
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        height: 270px;
        background-image: url(../images/headerbackground.png);
        display: block;
        width: 100%;
        h1 {
            font-weight: 700;
            color: #ceccc5;
            font-family: 'Nunito', sans-serif;
            padding-left: 2rem;
            padding-top: 2rem;
            text-align: left;
            font-size: 28px;
        }
        h2 {
            font-weight: 200;
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
            color: #fff4f4;
            padding-left: 3rem;
            padding-top: 1rem;
            text-align: left;
        }
    }
    .headerIndex {
        height: 300px;
        border: solid black 1px;
    }
    .mainIndex {
        height: 2100px;
        display: flex;
        justify-content: center;
        background-image: url(../images/mainbackground.png);
        overflow: hidden;
        .carrusel {
            display: inline;
            .divCarrusel {
                padding: 10px 0;
                .imgDivCarrusel {
                    border: solid black 2px;
                }
            }
        }
        .section_conteiner1 {
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 4rem;
            color: #ffffff;
            font-family: 'Nunito', sans-serif;
            font-size: 18px;
            justify-content: stretch;
            .main-div1 {
                position: relative;
                font-size: 22px;
                height: 300px;
                top: 3rem;
            }
        }
        .section_conteiner2 {
            height: 1700px;
            background-image: url(../images/mainbackground.png);
            h3 {
                background-color: #000213ea;
                color: #ffffff;
                height: 5rem !important;
                font-family: 'Nunito', sans-serif;
                font-size: 24px;
                font-weight: 500;
                text-align: center;
                padding-top: 2rem !important;
            }
        .main_divImg {
            position: relative;
            left: 870px;
            top: 60px;
            border: dotted 2px;
            border-radius: 5px;
            border-color: violet;
            width: 10rem;
            height: 10rem;
        }
            p {
                text-align: center;
                position: relative;
                top: 80px;
                color: #ffffff;
                font-family: 'Nunito', sans-serif;
                font-size: 24px;
            }
        }
    }
    .headerNosotros {
        height: 300px;
        border: solid black 1px;
    }
    .mainNosotros {
        background-color: #110d27;
        width: 100%;
        height: 120rem;
        position: relative;
        padding-top: 5rem;
        .main_div1Nosotros {
            color: #ffffff;
            width: 40rem;
            text-align:center;
            height: 20rem;
            position: relative;
            top: 10rem;
            left: 22rem;
            bottom: 10rem;
            font-size: 18px;
            font-weight: 300;
            .img_experienciaNosotros {
                border:groove;
                border-radius: 10rem;
                position: relative;
                width: 12rem;
                top: 9rem;
                left: 1rem;
            }
            .img_clientes {
                border:groove;
                border-radius: 10rem;
                position: relative;
                left: 45rem;
                top: 9rem;
                width: 12rem;
            }
            .img_profesionales {
                border:groove;
                border-radius: 10rem;
                position: relative;
                width: 12rem;
                top: 1rem;
                margin-bottom: 9rem;
                left: 4rem;
                
            }.p_Nosotros {
                position: relative;
                bottom: 5rem;
                font-size: 25px;
                left: 17rem;
            }
        }
        .main_divContenedor {
            position: relative;
            top: 30rem;
            .main_div2Nosotros {
                text-align: center;
                color: #ffffff;
                border: hidden;
                background-color: rgb(51, 10, 51);
                width: 50rem;
                height: 10rem;
                position: relative;
                left: 33rem;
                font-family: 'Nunito', sans-serif;
                font-size: 18px;
                margin-bottom: 10rem;
                .main_div2h2Nosotros {
                    text-align: center;
                    padding-top: 3rem;
                }
            }
            .main_div3Nosotros {
                h3 {
                    color: #ffffff;
                    font-family: 'Nunito', sans-serif;
                    font-size: 28px;
                    padding-left: 2rem;
                    background-color: midnightblue;
                    margin-right: 40rem;
                }
                .p_div3Nosotros {
                    color: #ffffff;
                    font-family: 'Nunito', sans-serif;
                    font-size: 24px;
                    position: relative;
                    left: 25rem;
                    top: 4rem;
                    right: 2rem;
                    bottom: 5rem;
                    height: 7rem;
                    width: 70rem;
                }
            }
            .main_div4Nosotros {
                h3 {
                    color: #ffffff;
                    font-family: 'Nunito', sans-serif;
                    font-size: 28px;
                    padding-left: 2rem;
                    position: relative;
                    top: 6rem;
                    background-color: midnightblue;
                    margin-right: 40rem;
                }
                .p_div4Nosotros {
                    color: #ffffff;
                    font-family: 'Nunito', sans-serif;
                    font-size: 24px;
                    position: relative;
                    left: 25rem;
                    top: 10rem;
                    right: 2rem;
                    bottom: 5rem;
                    height: 5rem;
                    width: 70rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }
    .headerServicios {
        height: 300px;
        border: solid black 1px;
    }
    .mainServicios {
        background-color: #110d27;
        height: 210rem;
        .main_div1Servicios {
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
            text-align: center;
            position: relative;
            top: 5rem;
            color: #ffffff;
        .main_div1h1Servicios {
            background-color: #060e22;
            width: 30rem;
            height: 5rem;
            text-align: center;
            position: relative;
            left: 43rem;
            padding-top: 1rem;
            border-radius: 5rem;
            border: dotted;
        }
        .main_pdiv1Contactanos {
            background-color: #180a3a;
            width: 70rem;
            position: relative;
            left: 21rem;
            top: 12rem;
            right: 3rem;
            padding: 4rem;
            text-align: center;
            padding-top: 2rem;
            font-size: 1.5rem;
            border-radius: 5px;
        }
        .main_div2Servicios {
            position: relative;
            top: 30rem;
            padding: 2rem;
        }
            .main_imgdiv2Servicios {
                width: 8rem;
                height: 8rem;
                position: relative;
                border: groove;
                border-radius: 2rem;
                margin: 4rem;
                left: 5rem;
            }
            .h4_div2 {
                position: relative;;
                bottom: 9rem;
                margin-left: 20rem;
                color: #ffffff;
                font-size: 1.5rem;
                width: 30rem;
                font-family: 'Nunito', sans-serif;
            }
            .p_h4div2 {
                background-color: #08092e;
                color: #ffffff;
                width: 70rem;
                height: 3rem;
                padding: 2rem;
                font-size: 20px;
                position: relative;
                bottom: 4rem;
                left: 20rem;
            }
        }
    }
    .headerReferencias {
        height: 300px;
        border: solid black 1px;
    }
    .main_h3div1Referencias {
        font-size: 28px;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        font-weight: 500;
        height: 6rem;
        padding-top: 7rem;
        background-color: #110d27;
        color: #ffffff;
    }
    .img_conteinerReferencias {
        background-color: #171950;
        padding: 4rem 30rem;
        border: none;
        display: inline-block;
        .main_imgdiv1Referencias {
            border: none;
            border-radius: 1rem;
            margin-left: 5rem;
        }
    }
    .headerNovedades {
        height: 300px;
        border: solid black 1px;
    }
    .main_div1Novedades {
            height: 60rem;
        h3 {
            font-size: 28px;
            font-family: 'Nunito', sans-serif;
            text-align: center;
            font-weight: 700;
            height: 6rem;
            padding-top: 7rem;
            color: rgba(255, 255, 255, 0.849);
            border-bottom: dotted 2px;
            margin-right: 20rem;
            margin-left: 22rem;
        }
        .main_pdiv1Novedades {
            font-size: 20px;
        }
        li {
            padding: 4rem;
            position: relative;
            left: 16rem;
            margin: 2rem;
            display: inline-block;
            a {
                font-size: 20px;
            }
        }
    }
    .headerContactanos {
        height: 300px;
        border: solid black 1px;
    }
    .mainContactanos {
        background-color: #110d27;
        color: #ffffff;
        width: 100%;
        height: 90rem;
        position: relative;
        padding-top: 5rem;
        .main_h2Contactanos {
            background-color: #110d27;
            font-size: 28px;
            font-family: 'Nunito', sans-serif;
            text-align: center;
            position: relative;
        }
        .main_h31Contactanos {
            font-size: 28px;
            font-family: 'Nunito', sans-serif;
            text-align: center;
            font-weight: 200;;
            margin-bottom: 5rem;
        }
        .main_h32Contactanos {
            position: relative;
            padding-bottom: 3rem;
            padding-top: 5rem;
            font-size: 28px;
            font-family: 'Nunito', sans-serif;
            padding-left: 3rem;
        }
        .main_form {
            background-color: #cbc3ff;
            padding: 10px;
            height: 38rem;
            .fieldset {
                width: 50px;
                border-color: #ffffff;
                color:#090e3d;
                border: groove;
                position: relative;
                left: 45rem;
                bottom: 2rem;
                background-color: #ffffff;
                padding: 1rem;
                .main_divFieldset {
                    color: #000000;
                    font-size: 14px;
                    .main_inputContactanos {
                        border-color: #000000;
                        border: groove;
                    }
                    .input_enviarContactanos {
                        text-align: center;
                        background-color: #2f4f4f;
                        color: #ffffff;
                        font-size: 16px;
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        margin-top: 5px;
                    }
                }
            }
        }
        .main_divh2Contactanos {
            position: relative;
            padding-bottom: 3rem;
            padding-top: 5rem;
            font-size: 28px;
            font-family: 'Nunito', sans-serif;
            padding-left: 3rem;
        }
        .main_divContactanos {
            width: 100%;
            height: 10rem;
            border-color: #ffffff;
            color:#000000;
            position: relative;
            background-color: #ffffff;
            img {
                position: relative;
                left: 55rem;
                bottom: 2.5rem;
                width: 3rem;
                height: 3rem;
            }
            p {
                padding-top: 4rem;
                padding-left: 4rem;
                font-size: 20 px;
            }
        }
    }
}

//Index / Nosotros / Contactanos / Sercvicios / Novedades / Referencias//
